/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
@import url('https://fonts.googleapis.com/css2?family=Arial');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Helvetica');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Menlo');
@import url('https://fonts.googleapis.com/css2?family=Consola+Mono');
@import url('https://fonts.googleapis.com/css2?family=DejaVu+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Oxygen');
@import url('https://fonts.googleapis.com/css2?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Prompt');
@import url('https://fonts.googleapis.com/css2?family=Righteous');
@import url('https://fonts.googleapis.com/css2?family=Satisfy');
@import url('https://fonts.googleapis.com/css2?family=Single+Day');
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman');
@import url('https://fonts.googleapis.com/css2?family=Ultra');
@import url('https://fonts.googleapis.com/css2?family=Urbanist');
@import url('https://fonts.googleapis.com/css2?family=Dosis');

.jp-theme-editor-panel {
  overflow-y: auto;
}

.jp-theme-editor-button-color {
  height: var(--jp-ui-font-size0);
  width: 25px;
}

.jp-theme-editor-color-picker {
  position: relative;
  left: 0;
  top: 0;
}

.form-class {
  display: flex;
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size0);
}

:root {
  --jp-ui-font-family: 'Arial', 'Dancing Script', 'Dosis', 'Helvetica',
    'Lobster', 'JetBrains Mono', 'Pacifico', 'Prompt', 'Righteous', 'Sans Serif',
    'Satisfy', 'Single Day', 'system-ui', 'Times New Roman', 'Urbanist';
  --jp-content-font-family: 'Arial', 'Dancing Script', 'Helvetica', 'Dosis',
    'Lobster', 'JetBrains Mono', 'Pacifico', 'Prompt', 'Righteous', 'Sans Serif',
    'Satisfy', 'Single Day', 'system-ui', 'Times New Roman', 'Urbanist';
  --jp-code-font-family: 'DejaVu Sans Mono', 'Space Mono';
}
